/* normalising */
* {
    box-sizing: border-box;
    box-sizing: 0;
    margin: 0;
    padding: 0;
  }
  
  /* body {
    background-image: url("images/bg.jpg");
    background-size: cover;
  } */

  /* fonts */
  @font-face {
    font-family: 'Nunito';
    src: url('Nunito/Nunito.woff2');
  }

  h1 {
    color: black;
  }


  